body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f7f1e3; /* Light cream background color */
  color: #6b2737; /* Dark pink text color */
  font-size: 24px; /* Larger default font size */
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

h1 {
  color: #ff7f50; /* Coral color */
  font-size: 36px; /* Larger font size for heading */
  margin-bottom: 20px; /* Add space below heading */
}

.clickable-text {
  font-size: 60px; /* Even larger font size for clickable text */
  cursor: pointer;
  background-color: #ffbdbd; /* Light pink background color */
  padding: 30px 60px; /* Increased padding for text */
  border-radius: 10px;
}

.clickable-text:hover {
  background-color: #ffb6c1; /* Slightly darker pink background color on hover */
}

.heart-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.heart {
  --c: red;
  width: 200px;
  position: absolute;
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  background:
   /* 1 */ radial-gradient(
        circle at 60% 65%,
        var(--c) 64%,
        #0000 65%
      )
      top left/50% 50%,
    /* 2 */ radial-gradient(circle at 40% 65%, var(--c) 64%, #0000 65%) top
      right/50% 50%,
    /* 3 */ conic-gradient(from -45deg at 50% 85.5%, var(--c) 90deg, #0000 0)
      bottom/100% 50%;
  background-repeat: no-repeat;
  animation: fall 5s ease-in-out infinite; /* Slower animation duration */
}

@keyframes fall {
  0% {
    transform: translateY(-100vh) scale(0);
  }
  100% {
    transform: translateY(100vh) scale(1);
  }
}
